# Basic Overview 
The primary objective is to visualize and analyze the death rate data for every state in USA for the years 1999-2015. This is basically a learning project for me to master analysis and visualization skills in pandas.

Comments/criticisms/appreciations are greatly accepted and appreciated. Do not be shy and send me an email at babinu@gmail.com !

Source of data : https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013

In [88]:
# Section for importing relevant modules. Note that in order to increase readability , we will be importing necessary
# modules only as and when it is needed, rather than all at once.
import pandas as pd
import numpy as np

In [89]:
death_rate_data = pd.read_csv("NCHS_-_Leading_Causes_of_Death__United_States.csv")

In [90]:
death_rate_data.columns

Index(['Year', '113 Cause Name', 'Cause Name', 'State', 'Deaths',
       'Age-adjusted Death Rate'],
      dtype='object')

###  A quick display of the obtained dataframe

In [91]:
death_rate_data.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alabama,2313.0,52.2
1,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Alaska,294.0,55.9
2,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Arizona,2214.0,44.8
3,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,Arkansas,1287.0,47.6
4,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional Injuries,California,9198.0,28.7

### Can we explore redundancy between columns '113 Cause Name' and 'Cause Name' and remove one of them ?

In [92]:
death_rate_data[['113 Cause Name', 'Cause Name']].head()

                                      113 Cause Name              Cause Name
0  Accidents (unintentional injuries) (V01-X59,Y8...  Unintentional Injuries
1  Accidents (unintentional injuries) (V01-X59,Y8...  Unintentional Injuries
2  Accidents (unintentional injuries) (V01-X59,Y8...  Unintentional Injuries
3  Accidents (unintentional injuries) (V01-X59,Y8...  Unintentional Injuries
4  Accidents (unintentional injuries) (V01-X59,Y8...  Unintentional Injuries

In [93]:
# To test for a one to one mapping between 2 columns, we do the following.
# 1. Check the number of unique entries for column 1
# 2. Do the same for column 2
# 3. Do the same for tuples of column 1 and column 2 values
# If all three return the same value, we have a one to one mapping.
print("Number of unique entries in column 'Cause Name': ",
      len(death_rate_data['Cause Name'].unique()))
print("Number of unique entries in column '113 Cause Name': ",
      len(death_rate_data['113 Cause Name'].unique()))
print("Number of unique ('Cause Name', '113 Cause Name') tuples : ",
      len(death_rate_data[['113 Cause Name', 'Cause Name']].drop_duplicates()))

Number of unique entries in column 'Cause Name':  17
Number of unique entries in column '113 Cause Name':  17
Number of unique ('Cause Name', '113 Cause Name') tuples :  17

In [94]:
# Remove a redundant column.
death_rate_data_v2 = death_rate_data.drop(columns='113 Cause Name')

### Data Validation on all columns

In [95]:
# Column 'Year'
print("Number of unique entries in column 'Year' is %s and they are %s" 
      %(len(death_rate_data_v2['Year'].unique()),death_rate_data_v2['Year'].unique()))

Number of unique entries in column 'Year' is 17 and they are [1999 2003 2000 2005 2001 2006 2002 2010 2004 2011 2013 2007 2008 2014
 2009 2012 2015]

In [96]:
# Column 'Cause Name'
print("Number of unique entries in column 'Cause Name' is %s and they are %s" 
      %(len(death_rate_data_v2['Cause Name'].unique()),death_rate_data_v2['Cause Name'].unique()))

Number of unique entries in column 'Cause Name' is 17 and they are ['Unintentional Injuries' 'All Causes' "Alzheimer's disease" 'Homicide'
 'Stroke' 'Chronic liver disease and cirrhosis' 'CLRD' 'Diabetes'
 'Diseases of Heart'
 'Essential hypertension and hypertensive renal disease'
 'Influenza and pneumonia' 'Cancer' 'Suicide' 'Kidney Disease'
 "Parkinson's disease" 'Pneumonitis due to solids and liquids'
 'Septicemia']

In [97]:
# Column 'State'
print("Number of unique entries in column 'State' is %s and they are %s" 
      %(len(death_rate_data_v2['State'].unique()),death_rate_data_v2['State'].unique()))

Number of unique entries in column 'State' is 52 and they are ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'United States' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

### Why do we have 52 states instead of 50 here ?

In [98]:
print('Is \'United States\' present in column \'State\':', 
      'United States' in death_rate_data_v2['State'].values)
print('Is \'District of Columbia\' present in column \'State\':', 
      'District of Columbia' in death_rate_data_v2['State'].values)

Is 'United States' present in column 'State': True
Is 'District of Columbia' present in column 'State': True

### Shouldn't the data for 'United States' be aggregate of the data corresponding to individual states ?

In [99]:
# Aggregate the number of deaths across states for a particular year and cause and check if the value
# matched with that of United States.
united_states_data = death_rate_data_v2[death_rate_data_v2['State'] == 'United States']
death_rate_data_v3 = death_rate_data_v2[death_rate_data_v2['State'] != 'United States']

year_cause_group_data = death_rate_data_v3['Deaths'].groupby(
    [death_rate_data_v3['Year'], death_rate_data_v3['Cause Name']]).sum()

# Reset indices of the group by object and make sure that dataframes are perfectly mergable..
year_cause_data_v1 = year_cause_group_data.reset_index().copy()
united_states_data_v1 = united_states_data.sort_values(
    by=['Year', 'Cause Name'])[
    ['Year', 'Cause Name', 'Deaths']].reset_index().drop(columns=['index']).copy()

# Merge to one data frame for ease of comparisons later on.
aggregated_and_usa_data = pd.merge(year_cause_data_v1, 
                                   united_states_data_v1[['Deaths']], 
                                   left_index=True, 
                                   right_index=True, 
                                   how='inner',
                                   suffixes=('_agg', '_usa'))

aggregated_and_usa_data['Deaths_diff'] = aggregated_and_usa_data['Deaths_agg'] - aggregated_and_usa_data['Deaths_usa']
aggregated_and_usa_data[aggregated_and_usa_data['Deaths_diff'] != 0]

,Year,Cause Name,Deaths_agg,Deaths_usa,Deaths_diff
7,1999,Essential hypertension and hypertensive renal ...,16963.0,16968.0,-5.0
41,2001,Essential hypertension and hypertensive renal ...,19244.0,19250.0,-6.0
42,2001,Homicide,20299.0,20308.0,-9.0
58,2002,Essential hypertension and hypertensive renal ...,20252.0,20261.0,-9.0
59,2002,Homicide,17614.0,17638.0,-24.0
127,2006,Homicide,18564.0,18573.0,-9.0
161,2008,Homicide,17823.0,17826.0,-3.0
178,2009,Homicide,16791.0,16799.0,-8.0
195,2010,Homicide,16242.0,16259.0,-17.0
212,2011,Homicide,16230.0,16238.0,-8.0
216,2011,Pneumonitis due to solids and liquids,18186.0,18195.0,-9.0
229,2012,Homicide,16679.0,16688.0,-9.0